<form action="">
  <p><b>Gender: </b>{{selectedUser.gender}}</p>
  <p><b>Age: </b>{{selectedUser.dob.age}}</p>
  <p><b>Phone: </b>{{selectedUser.phone}}</p>
  <p><b>Email: </b>{{selectedUser.email}}</p>
  <p><b>Location:</b></p>
  <ul>
    <li>
      <p><b>Country: </b>{{selectedUser.location.country}}</p>
    </li>
    <li>
      <p><b>City: </b>{{selectedUser.location.city}}</p>
    </li>
    <li>
      <p><b>State: </b>{{selectedUser.location.state}}</p>
    </li>
  </ul>

  <p><b>Direction:</b></p>
  <ul>
    <p><b>Street: {{selectedUser.location.street.name}}</b></p>
    <p><b>Number: {{selectedUser.location.street.number}}</b></p>
  </ul>
  <p><b>Username: </b>{{selectedUser.login.username}}</p>
  <p><b>ID: </b>{{selectedUser.login.uuid}}</p>


  <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
      Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Save</a></li>
      <li><a class="dropdown-item" href="#">Reset</a></li>
    </ul>
  </div>
</form>